* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
    box-sizing: none;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: block;    
    width: 1440px;
    height: 192px;
    align-items: center;
    justify-items: center;
    
}

header .container {

    display: flex;
    margin-left: 237px;
    margin-right: 200px;
    width: 1440px;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    
}

header .logo {
    display: flex;
    width: 253px;
    height: 50px;

}

header .logo img {
    width: 33px;
    height: 33px;
    top: 38px;

}

header .logo h1 {

    height: 50px;
    margin-top: -3.5px;
    margin-left: 5px;
    font-size: 36.4px;
    color: #C92071;

}

header .input-pesquisar {
    display: absolute;
    margin-left: 50px;
    width: 559px;
    height: 60px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: -webkit-linear-gradient(left, #ffffff, #d3d3d3);
    background: -moz-linear-gradient(left, #ffffff, #d3d3d3);
    background: -ms-linear-gradient(left, #ffffff, #d3d3d3);
    background: -o-linear-gradient(left, #ffffff, #d3d3d3);
    background: linear-gradient(to right, #ffffff, #d3d3d3);



}

header .input-pesquisar input {
    border-radius: 8px;
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding-left: 25px;
    background-color: #d3d3d3
}

header .input-pesquisar .botao {

    height: 24px;
    width: 24px;
    margin-right: 5px;
}

header .container #cadastro{
    margin-left: 27px;
    text-decoration: underline;
}

header .container #entrar{
    margin-left: 30px;
    background-color: #C92071;
    color: white;
    border-radius: 8px;
    width: 114px;
    height: 40px;
    text-decoration: none;
    
}

header .container .link{
    width: 33px;
    height: 29px;
    margin-left: 70px;
}

header .container2 nav{
    
}
header .container2 nav ul{
    display: flex;
    gap: 30px;
    
}

#nave{
    /* display: block; */
    /* list-style-type: disc; */
    margin-block-start: 3em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 237px;
    font-size: 16px;
    
}

header .container2 nav ul a:hover{
    text-decoration: underline;
}

section{
    display: flex;
    width: 1440px;
    height: 681px;    
    margin-left: 237px;
    
}

.container3 .texto{
    height: 300px; 
}

.container3 .texto #oferta{
    font-size: 16px;
    color: #F6AA1C;
    font-weight: bold;
    margin-top: 100px;
}
.container3 .texto h1{
    font-size: 64px;
    font-weight: bold;
    padding-top: 20px;
    
    
}
.container3 .texto #latim{
    font-size: 18px;
    color: #474747;
    padding-top: 10px;
}
.container3 .texto button{
    width: 220px;
    height: 48px;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 50px;
    background-color: #C92071;
}

.imagem-nike {
    position: relative;
  
    width: 60%;
}
.imagem-nike img{
    
    

}
.imagem-nike .figurinha{
    margin-top: 50px;
    position: absolute;
    bottom: 450px;
    left: 770px;
}

.grupo {
    width: 78px;
    height: 12px;
    margin-left: 900px;
    bottom: 70px;
    position: relative;    
}
.container4{
    display: block;
    margin-top: 20px;
    height: 400px;
    
}
.container4 .titulo-colecao{
    font-size: 24px;
    color: #474747;
    font-weight: bold;
    height: 48px;
    width: 100%;
}
.container4 .promocao{
    
    display: flex;
    gap: 113px;
     
}

.container4 .promocao .imagem1{
    display: block;
    width: 405px;
    height: 251px;
    border-radius: 8px;
    background-color:  #D8E3F2;
    position: relative;
    z-index: 0;
}
.container4 .promocao .imagem1 .caixa1{
    position: absolute;
    z-index: 2;
}
.container4 .promocao .imagem1 .caixa1 p{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
    color: #474747;
    background-color: #E7FF86;
    border-radius: 29px;
    width: 66px;
    height: 20px;
    padding: 7px 15px 5px 15px;
    text-align: center;
    font-weight: bold;
}
.container4 .promocao .imagem1 .caixa1 h1{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 32px;
    font-weight: bolder;
    height: 78px;
    width: 160px;
}
.container4 .promocao .imagem1 .caixa1 button{
    width: 153px;
    height: 48px;
    background-color: #F5F5F5;
    border-radius: 8px;
    font-size: 16px;
    color: #C92071;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
}
.container4 .promocao .imagem1 .caixa1-2{
    width: 242px;
    height: 251px;
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 166px;
}

.container4 .promocao .imagem2{
    display: block;
    width: 405px;
    height: 251px;
    background-color:  #D8E3F2;
    border-radius: 8px;
    position: relative;
    z-index: 0;
}
.container4 .promocao .imagem2 .caixa2{
    position: absolute;
    z-index: 2;
}
.container4 .promocao .imagem2 .caixa2 p{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
    color: #474747;
    background-color: #E7FF86;
    border-radius: 29px;
    width: 66px;
    height: 20px;
    padding: 7px 15px 5px 15px;
    text-align: center;
    font-weight: bold;
}
.container4 .promocao .imagem2 .caixa2 h1{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 32px;
    font-weight: bolder;
    height: 78px;
    width: 160px;
}
.container4 .promocao .imagem2 .caixa2 button{
    width: 153px;
    height: 48px;
    background-color: #F5F5F5;
    border-radius: 8px;
    font-size: 16px;
    color: #C92071;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
}
.container4 .promocao .imagem2 .caixa2-2{
    width: 242px;
    height: 251px;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 163px;
}

.container4 .promocao .imagem3{
    display: block;
    width: 405px;
    height: 251px;
    background-color:  #D8E3F2;
    border-radius: 8px;
    position: relative;
    z-index: 0;
}
.container4 .promocao .imagem3 .caixa3{
    position: absolute;
    z-index: 2;
}
.container4 .promocao .imagem3 .caixa3 p{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
    color: #474747;
    background-color: #E7FF86;
    border-radius: 29px;
    width: 66px;
    height: 20px;
    padding: 7px 15px 5px 15px;
    text-align: center;
    font-weight: bold;
}
.container4 .promocao .imagem3 .caixa3 h1{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 32px;
    font-weight: bolder;
    height: 78px;
    width: 175px;
}
.container4 .promocao .imagem3 .caixa3 button{
    width: 153px;
    height: 48px;
    background-color: #F5F5F5;
    border-radius: 8px;
    font-size: 16px;
    color: #C92071;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
}
.container4 .promocao .imagem3 .caixa3-3{
    width: 242px;
    height: 251px;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 179px;
}
#titulo{
    font-size: 24px;
    color: #474747;
    font-weight: bold;
    height: 48px;
    width: 100%;
    margin-left: 810px;
    
}

.container5{
    display: flex;
    margin-top: 20px;
    margin-left: 585px;
    align-items: center;
    gap: 60px;
    width: 738px;
    height: 138px;
    
}
.container5 .tipo1{
    
    width: 104px;
    height: 138px;
    align-items: center;
}
.container5 .tipo1  p{
    margin-top: 20px;
    font-size: small 16px;
    text-align: center;
}
.container5 .tipo1  img{
    margin-top: 20px;
    margin-left: 15px;      
}
.container5 .tipo2{
    
    width: 104px;
    height: 138px;
    align-items: center;
}
.container5 .tipo2  p{
    margin-top: 20px;
    font-size: small 16px;
    text-align: center;
}
.container5 .tipo2  img{
    margin-top: 20px;
    margin-left: 15px;      
}
.container5 .tipo3{
    
    width: 104px;
    height: 138px;
    align-items: center;
}
.container5 .tipo3  p{
    margin-top: 20px;
    font-size: small 16px;
    text-align: center;
}
.container5 .tipo3 .card img{
    margin-top: 20px;
    margin-left: 10px;
    width: 80%;
    height: 80%;
    
}

.container5 .tipo4{
    
    width: 104px;
    height: 138px;
    align-items: center;
}
.container5 .tipo4  p{
    margin-top: 20px;
    font-size: small 16px;
    text-align: center;
}
.container5 .tipo4  img{
    margin-top: 20px;
    margin-left: 15px;      
}
.container5 .tipo5{
    
    width: 104px;
    height: 138px;
    align-items: center;
}
.container5 .tipo5  p{
    margin-top: 20px;
    font-size: small 16px;
    text-align: center;
}
.container5 .tipo5  img{
    margin-top: 20px;
    margin-left: 15px;      
}

.titulo-produto{
    display: flex;
    margin-top: 100px;
    margin-left: 237px;
    width: 1440px;
    justify-content:space-between ;
}

#cards{
    margin-top: 20px;
    margin-left: 237px;
    width:1440px ;
    height: 898px;
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
    gap: 20px;

}

#cards .card{
    width: 292px;
    height: 439px;
    border-radius: 10px;
    border: 4px solid #dedede;
}
#cards .card .card-image{
    position: relative;
}
#cards .card .card-image .card-pill{
    position: absolute;
    top:16px;
    left: 16px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .5px;
    padding: 6px;
    background-color: #E7FF86;
    border-radius: 8px;
}
#cards .card .card-image img{
    display: block;
    width: 100%;
    padding: 36px 0px 0px 0px;
    
}

#cards .card .card-content{
    padding: 20px;
}
#cards .card .card-content p{
    margin-top: 30px;
    font-size: 12px;
    color: #8F8F8F;
}
#cards .card .card-content h1{
    margin-top: 10px;
    font-size: 23px;
    font-weight: 400;
    width: 100%;
    color: #474747
}

.container6{
    width: 1440px;
    height: 553px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 237px;
    
}
.container6 .imagem-tenis {
    position: relative;
    z-index: 0;
    margin-bottom: 330px;
}
.container6 .imagem-tenis .elipse{
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 75px;
    
}
.container6 .imagem-tenis img{
    position: absolute;
    z-index: 2;
    
}

.container6 .caixa-jordan{
    
    width: 589px;
    height: 341px;
    align-items: center;
    margin-left: 700px;
}
.container6 .caixa-jordan #especial{
    margin-top: 30px;
    font-size: 14px;
    color: #C92071;
    font-weight: 700;
}
.container6 .caixa-jordan h1{
    margin-top: 10px;
    font-size: 48px;
    font-weight: 700;
    color: #474747;
}
.container6 .caixa-jordan #texto-especial{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #474747;
}
.container6 .caixa-jordan button{
    width: 200px;
    height: 40px;
    background-color: #C92071;
    color: white;
    border-radius: 8px;
    margin-top: 40px;
}
footer{
    background-color: #1F1F1F;
    width: 1900px;
    height: 454px;
    display: flex;
    align-items: center;
    gap: 300px;
}
footer .digital-store{
    width: 300px;
    margin-left: 70px;
    margin-bottom: 79px;
}

footer .digital-store p{
    padding-top: 30px;
    padding-bottom: 30px;
    color: #FFFFFF;
}
footer .digital-store .redes{
    display: flex;
    gap: 20px;
}

footer .informacoes{
    width: 128px;
    height: 250px;
    
}
footer .informacoes h1{
    color: #FFFFFF;
}
footer .informacoes .a-informacao {
    
    margin-top: 20px;
}
footer .informacoes .a-informacao ul li {
    
    padding-top: 20px;
}
footer .informacoes .a-informacao ul li a{
    color: #FFFFFF;
    
}
footer .categoria{
    width: 128px;
    height: 250px;
    
}
footer .categoria h1{
    color: #FFFFFF;
}
footer .categoria .a-categoria {
    
    margin-top: 20px;
}
footer .categoria .a-categoria ul li {
    
    padding-top: 20px;
}
footer .categoria .a-categoria ul li a{
    color: #FFFFFF;
    
}
footer .Contatos{
    width: 240px;
    height: 130px;
    margin-bottom: 116px;
}
footer .Contatos h1{
    color: #FFFFFF;
}

footer .Contatos p {
    margin-top: 35px;
    color: #FFFFFF;
}

footer .fim .imag-linha{
    position: absolute;
    top: 3625px;
    left: 237px;
}
footer .fim p{
    position: absolute;
    top: 3645px;
    left: 800px;
    color: #FFFFFF;
}